.main-header-link {
	width: 100%;
	display: flex;
	position: relative;
}

.main-header-cap {
	display: flex;
	flex-direction: column;
}

.main-header-link-items {
	display: flex;
	height: 100%;
	gap: 10px;
	align-items: flex-end;
}

#p-customer {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #000000;
}

#p-text {
	font-family: "Satoshi Variable";
	font-size: 14px;
	width: 341px;
	line-height: 200%;
	letter-spacing: 0.01em;
	color: #98949e;
}

a.header-link {
	text-decoration: none;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #98949e;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	gap: 10px;
	width: 197.33px;
	height: 45px;
	border-bottom: 2px solid transparent;
	transition: all 0.5s;
	cursor: pointer;
}

a.header-link.active,
a.header-link:hover {
	border-bottom: 2px solid #5d5fef;
}

@media only screen and (max-width: 768px) {
	.main-header-cap {
		width: 100%;
		margin-top: 20px;
	}
	.main-header-link-items {
		width: 100%;
	}
}
