.right-content-wrapper {
	width: 100%;
	height: 265px;
	background: #5d5fef;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
#analytics-text {
	margin: 18px 0 0 18px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #ffffff;
	width: 149px;
	height: 90px;
}
#analytics {
	z-index: 4;
	margin: 0 0 18px 18px;
	gap: 12px;
	width: 119px;
	height: 45px;
	left: 16px;
	top: 204px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 8px;
	border: none;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #ffffff;
	transition: all 0.5s;
}

#analytics:hover {
	background: rgba(244, 212, 212, 0.2);
}

.right-second-content {
	position: relative;
	width: 100%;
	height: 595px;
	background: #fafafa;
	border-radius: 8px;
}
.title-second-content {
	display: flex;
	flex-direction: column;
}

#top {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: rgba(17, 13, 23, 1);
}
#week {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: rgba(241, 115, 0, 1);
}

#date {
	font-family: "Satoshi";
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 0.015em;
	color: #98949e;
}
.menu-second-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p#menu-title {
	margin-left: -25px;
}
#menu-title {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #000000;
	width: 175px;
}

.menu-second-content ol {
	margin-left: -24px;
}

.menu-second-content ol li {
	margin: 20px 0 20px -40px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #98949e;
}

.circleDec {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media only screen and (max-width: 768px) {
	p#menu-title {
		text-align: center;
	}

	.title-second-content {
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.date-second-content p {
		text-align: center;
	}

	.menu-second-content ol li {
		margin: 0;
	}
}
